${P}{{${P}info}}{{title}}


${P}${P} {{join schemes " | "}}://{{host}}{{basePath}}


{{description}}

{{${P}contact}}
[**Contact the developer**](mailto:{{email}})
{{/contact}}

**Version** {{version}}

[**Terms of Service**]({{termsOfService}})

{{${P}license}}[**{{name}}**]({{url}}){{/license}}

{{/info}}

{{${P}if consumes}}**Consumes:** {{join consumes ", "}}{{/if}}

{{${P}if produces}}**Produces:** {{join produces ", "}}{{/if}}

{{${P}if securityDefinitions}}
${P} Security Definitions
{{/if}}
{{> security}}

${P} APIs

{{${P}each paths}}
${P}${P} {{@key}}
{{${P}this}}
{{${P}get}}
${P}${P}${P} GET
{{> operation}}
{{/get}}

{{${P}put}}
${P}${P}${P} PUT
{{> operation}}
{{/put}}

{{${P}post}}
${P}${P}${P} POST

{{> operation}}

{{/post}}

{{${P}delete}}
${P}${P}${P} DELETE
{{> operation}}
{{/delete}}

{{${P}option}}
${P}${P}${P} OPTION
{{> operation}}
{{/option}}

{{${P}patch}}
${P}${P}${P} PATCH
{{> operation}}
{{/patch}}

{{${P}head}}
${P}${P}${P} HEAD
{{> operation}}
{{/head}}

{{/this}}
{{/each}}

${P} Definitions
{{${P}each definitions}}
${P}${P} <a name="/definitions/{{key}}">{{@key}}</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>description</th>
        <th>example</th>
    </tr>
    {{${P}each this.properties}}
        <tr>
            <td>{{@key}}</td>
            <td>
                {{${P}ifeq type "array"}}
                {{${P}items.$ref}}
                    {{type}}[<a href="{{items.$ref}}">{{basename items.$ref}}</a>]
                {{/items.$ref}}
                {{^items.$ref}}{{type}}[{{items.type}}]{{/items.$ref}}
                {{else}}
                    {{${P}$ref}}<a href="{{$ref}}">{{basename $ref}}</a>{{/$ref}}
                    {{^$ref}}{{type}}{{${P}format}} ({{format}}){{/format}}{{/$ref}}
                {{/ifeq}}
            </td>
            <td>{{${P}required}}required{{/required}}{{^required}}optional{{/required}}</td>
            <td>{{${P}description}}{{{description}}}{{/description}}{{^description}}-{{/description}}</td>
            <td>{{example}}</td>
        </tr>
    {{/each}}
</table>
{{/each}}