{{${P}deprecated}}-deprecated-{{/deprecated}}
<a id="{{operationId}}">{{summary}}</a>

{{description}}

{{${P}if externalDocs.url}}{{externalDocs.description}}. [See external documents for more details]({{externalDocs.url}})
{{/if}}

{{${P}if security}}
${P}${P}${P}${P} Security
{{/if}}

{{${P}security}}
{{${P}each this}}
* {{@key}}
{{${P}this}}   * {{this}}
{{/this}}
{{/each}}
{{/security}}

${P}${P}${P}${P} Request

{{${P}if consumes}}
**Content-Type: ** {{join consumes ", "}}{{/if}}

${P}${P}${P}${P}${P} Parameters
{{${P}if parameters}}
<table border="1">
    <tr>
        <th>Name</th>
        <th>Located in</th>
        <th>Required</th>
        <th>Description</th>
        <th>Default</th>
        <th>Schema</th>
    </tr>
{{/if}}

{{${P}parameters}}
<tr>
    <th>{{name}}</th>
    <td>{{in}}</td>
    <td>{{${P}if required}}yes{{else}}no{{/if}}</td>
    <td>{{description}}{{${P}if pattern}} (**Pattern**: `{{pattern}}`){{/if}}</td>
    <td> - </td>
{{${P}ifeq in "body"}}
    <td>
    {{${P}ifeq schema.type "array"}}Array[<a href="{{schema.items.$ref}}">{{basename schema.items.$ref}}</a>]{{/ifeq}}
    {{${P}schema.$ref}}<a href="{{schema.$ref}}">{{basename schema.$ref}}</a> {{/schema.$ref}}
    </td>
{{else}}
    {{${P}ifeq type "array"}}
            <td>Array[{{items.type}}] ({{collectionFormat}})</td>
    {{else}}
            <td>{{type}} {{${P}format}}({{format}}){{/format}}</td>
    {{/ifeq}}
{{/ifeq}}
</tr>
{{/parameters}}
{{${P}if parameters}}
</table>
{{/if}}


${P}${P}${P}${P} Response

{{${P}if produces}}**Content-Type: ** {{join produces ", "}}{{/if}}


| Status Code | Reason      | Response Model |
|-------------|-------------|----------------|
{{${P}each responses}}| {{@key}}    | {{description}} | {{${P}schema.$ref}}<a href="{{schema.$ref}}">{{basename schema.$ref}}</a>{{/schema.$ref}}{{${P}ifeq schema.type "array"}}Array[<a href="{{schema.items.$ref}}">{{basename schema.items.$ref}}</a>]{{/ifeq}}{{^schema}} - {{/schema}}|
{{/each}}